:root {
  --main-bg-color: #ebd5d5;
  --secondary-bg-color: #f2f2f2;
  --main-font-color: #ea8a8a;
  --secondary-font-color: #685454;
  --main-font-family: "Nerko One", sans-serif;
  --secondary-font-family: "Rubik", sans-serif;
}
body {
  background-color: var(--main-bg-color);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  text-align: center;
  padding: 10px;
  margin: 30px 0;
}
.App-header h1 {
  font-size: 64px;
  color: var(--main-font-color);
  font-family: var(--main-font-family);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 12px;
  color: var(--secondary-font-color);
}
.App-footer a {
  color: var(--secondary-font-color);
  text-decoration: none;
}
.App-footer a:hover {
  color: var(--main-font-color);
  transition: all 100ms ease-in-out;
}
