.Dictionary section {
  text-align: center;
  background-color: var(--secondary-bg-color);
  margin: 30px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.Dictionary input {
  width: 80%;
  padding: 4px 3px;
  border: 1px solid #685454;
  border-radius: 8px;
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-size: 22px;
}

.Dictionary .Hint {
  font-family: var(--secondary-font-family);
  color: var(--secondary-font-color);
  font-size: 16px;
  margin-top: 5px;
}
